body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f2937;
    color: white;
    padding:  5px;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.layout {
    display: flex;
}

.sidebar {
    width: 200px;
    background: #111827;
    min-height: 100vh;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 15px;
    color: white;
    cursor: pointer;
}

.sidebar li.active,
.sidebar li:hover {
    background: #2563eb;
}

.content {
    flex: 1;
    padding: 20px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 6px;
    flex: 1;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.btn-primary {
    background: #2563eb;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

.btn-danger {
    background: #dc2626;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

.btn-secondary {
    background: gray;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.hidden {
    display: none;
}
